<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.kalu.skin">

    <application>
        <provider
            android:name="lib.kalu.skin.provider.SkinContentProvider"
            android:authorities="${applicationId}.load-process"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
